<?xml version="1.0" encoding="UTF-8"?>
<model>
  <name>hex6</name>
  <version>1.0</version>

  <!-- Nome del file SDF -->
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Emanuele De Vito</name>
    <email>eman.devito@studenti.unina.it</email>
  </author>

  <description>
    Custom hexacopter model 
  </description>
</model>

